@import "base/vars"; /* Переменные из SCSS */
@import "base/reset"; /* Обнуление CSS */
@import "base/global"; /* Глобальные стили */

/* Ниже пишется основа */

.page {
  scrollbar-gutter: stable;
}

.body {
  display: grid;
  background: #191919;
  grid-template-columns: 226px calc(100% - 226px - 35px);
  gap: 35px;
  min-height: 100%;
  margin-inline: auto;
  padding: 0 var(--container-padding) 0 0;
  max-width: var(--container-width);

  @media (max-width: 992px) {
    grid-template-columns: 100%;
    padding: 0 var(--container-padding);
  }
}

nextjs-portal {
  position: absolute;
}

.aside {
  position: fixed;
  z-index: 6;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  border-radius: 0 45px 45px 0;
  padding-block: 56px 69px;
  width: 226px;
  height: 100%;
  text-align: center;
  background: #212121;

  &__logo {
    display: inline-block;
    margin-bottom: 80px;
    width: max-content;
    margin-inline: auto;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 35px;
    text-align: center;
    color: var(--main-color);

    @media (max-width: 992px) {
      font-size: 25px;
    }
  }

  &__logout {
    @extend %btn-reset;

    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: auto;
    margin-left: 42px;
    width: max-content;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    color: #666;
    text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    transition: color 0.3s ease-in-out;

    svg {
      width: 25px;
      height: 25px;
      fill: transparent;
      stroke: #666;
      transition: stroke 0.3s ease-in-out;

      @media (max-width: 576px) {
        width: 18px;
        height: 18px;
      }
    }

    &:hover {
      color: var(--main-color);

      svg {
        stroke: var(--main-color);
      }
    }

    @media (max-width: 992px) {
      gap: 10px;
      margin-left: 20px;
      font-size: 18px;
    }

    @media (max-width: 576px) {
      font-size: 16px;
    }
  }

  &__toggle {
    display: none;

    @media (max-width: 992px) {
      position: absolute;
      z-index: 1;
      top: 56px;
      right: -25px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      border-radius: 0 15px 15px 0;
      width: 25px;
      height: 35px;
      background: var(--main-color);
      transition: background 0.3s ease-in-out;

      &:hover {
        background: #fff;

        svg {
          stroke: var(--main-color);
        }
      }

      svg {
        margin-right: 3px;
        width: 18px;
        height: 18px;
        stroke: #fff;
        transition: stroke 0.3s ease-in-out;
      }
    }
  }

  @media (max-width: 992px) {
    width: 150px;
    translate: -150px;
    border-radius: 0;
    transition: opacity 0.3s ease-in, visibility 0.3s ease-in,
      translate 0.3s ease-in;

    &--active {
      translate: 0;
    }
  }
}

.navigation {
  &__items {
    @extend %list-reset;

    display: flex;
    flex-direction: column;
  }

  &__item {
  }

  &__item-link {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
    padding-left: 42px;
    padding-block: 28px;
    border-right: 6px solid transparent;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    color: #666;
    text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
      border-right 0.3s ease-in-out;

    &:hover:not(&--active) {
      color: var(--main-color);

      .navigation__item-svg--fill {
        fill: var(--main-color);
      }

      .navigation__item-svg--stroke {
        stroke: var(--main-color);
      }
    }

    &--active {
      // pointer-events: none;
      color: #fff;
      background-color: var(--dark-main-color);
      border-right: 6px solid var(--main-color);

      .navigation__item-svg--fill {
        fill: #fff;
      }

      .navigation__item-svg--stroke {
        stroke: #fff;
      }
    }

    @media (max-width: 992px) {
      gap: 10px;
      padding-left: 20px;
      padding-block: 14px;
      border-right: 3px solid transparent;
      font-size: 18px;

      &--active {
        border-right: 3px solid var(--main-color);
      }
    }

    @media (max-width: 576px) {
      font-size: 16px;
    }
  }

  &__item-svg {
    width: 22px;
    height: 22px;
    transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out;

    &--stroke {
      fill: transparent;
      stroke: #666;
    }

    &--fill {
      fill: #666;
    }

    @media (max-width: 576px) {
      width: 18px;
      height: 18px;
    }
  }
}

.main {
  grid-column: 2/3;

  @media (max-width: 992px) {
    grid-column: 1;
  }
}

.top {
  position: sticky;
  top: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 40px 0 25px;
  background: #191919;

  @media (max-width: 992px) {
    gap: 15px;
    padding: 20px 0 15px;
  }
}

.search {
  position: relative;
  flex: 1 1 auto;

  &__input {
    @extend %input-reset;

    border-radius: 30px;
    padding: 14px 14px 14px 100px;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 25px;
    color: var(--main-color);
    background: #212121;
    outline: none;
    transition: box-shadow 0.3s ease-in-out;

    // &:focus + .search__results {
    //   visibility: visible;
    //   // opacity: 1;
    //   max-height: 350px;
    // }

    &::placeholder {
      color: #666;
    }

    &:focus {
      box-shadow: 0 0 8px 1px var(--main-color);
    }

    @media (max-width: 992px) {
      font-size: 15px;
      padding: 4px 7px 4px 40px;
    }
  }

  &__btn {
    @extend %btn-reset;

    position: absolute;
    left: 41px;
    top: 50%;
    translate: 0 -50%;

    @media (max-width: 992px) {
      left: 11px;
    }
  }

  &__btn-svg {
    width: 35px;
    height: 35px;
    fill: transparent;
    stroke: #666;
    transition: stroke 0.3s ease-in-out;

    &:hover {
      stroke: var(--main-color);
    }

    @media (max-width: 992px) {
      width: 17px;
      height: 17px;
    }
  }

  &__results {
    @extend %list-reset;

    @starting-style {
      opacity: 0;
      max-height: 0;
    }

    position: absolute;
    right: 0;
    top: 75px;
    overflow: auto;
    border-radius: 30px;
    width: calc(100% - 100px);
    max-height: 350px;
    background: #212121;
    transition: max-height 0.4s ease-in-out, visibility 0.4s ease-in-out,
      display 0.4s allow-discrete;

    @media (max-width: 992px) {
      top: 35px;
    }

    @media (max-width: 576px) {
      width: 100%;
    }
  }

  &__result {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    color: var(--main-color);

    &:has(.search__result-title) {
      background: var(--dark-main-color);
    }

    &:hover {
      background: var(--dark-main-color);
    }

    & + & {
      border-top: 3px solid var(--main-color);

      @media (max-width: 992px) {
        border-top-width: 1.5px;
      }
    }

    @media (max-width: 992px) {
      font-size: 14px;
    }
  }

  &__result-link {
    display: block;
    padding: 14px 25px;

    @media (max-width: 992px) {
      padding: 7px 15px;
    }
  }

  &__result-title {
    display: block;
    padding: 14px 25px;
    color: #fff;

    @media (max-width: 992px) {
      padding: 7px 15px;
    }
  }
}

.notifications {
  @extend %btn-reset;

  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 70px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  background: #212121;
  transition: box-shadow 0.3s ease-in-out;

  &__svg {
    width: 35px;
    height: 35px;
    fill: #666;
    transition: fill 0.3s ease-in-out;

    @media (max-width: 992px) {
      width: 17px;
      height: 17px;
    }
  }

  &:hover {
    box-shadow: 0 0 8px 1px var(--main-color);

    .notifications__svg {
      fill: var(--main-color);
    }
  }

  @media (max-width: 992px) {
    flex: 0 0 35px;
    width: 35px;
    height: 35px;
  }
}

.profile {
  flex: 0 0 70px;
  transition: filter 0.3s ease-in-out;

  &__img {
    display: block;
  }

  &:hover {
    filter: drop-shadow(0 0 8px var(--main-color));
  }

  @media (max-width: 992px) {
    flex: 0 0 35px;
  }
}

// --- Блок фильмов ---------

.primary {
  position: relative;
}

.films {
  & + & {
    margin-top: 25px;

    @media (max-width: 992px) {
      margin-top: 15px;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;

    @media (max-width: 992px) {
      margin-bottom: 10px;
    }
  }

  &__title {
    @extend %text-reset;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 25px;
    color: #e8e8e8;

    @media (max-width: 992px) {
      font-size: 20px;
    }
  }

  &__more {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    color: #666;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--main-color);
    }

    @media (max-width: 992px) {
      font-size: 13px;
    }
  }

  &__items {
    @extend %list-reset;

    max-width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    // overflow-x: auto;
    padding: 20px 10px;

    @media (max-width: 992px) {
      gap: 15px;
      padding: 10px 10px 20px;
    }
  }

  &__item {
    flex: 0 0 200px;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;

    &:hover,
    &:focus {
      box-shadow: 0 0 8px 1px var(--main-color);
    }

    @media (max-width: 992px) {
      flex: 0 0 100px;
    }
  }

  &__item-link {
    position: relative;
  }

  &__item-img {
    display: block;
    max-height: 300px;
  }

  &__item-rating {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 0 20px;
    width: 68px;
    height: 28px;
    backdrop-filter: blur(15px);
    background: rgba(27, 27, 27, 0.55);

    @media (max-width: 992px) {
      width: 48px;
      height: 18px;
      gap: 2px;
      align-items: baseline;
    }
  }

  &__item-rating-svg {
    width: 20px;
    height: 20px;
    fill: gold;

    @media (max-width: 992px) {
      width: 10px;
      height: 10px;
    }
  }

  &__item-rating-num {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: var(--main-color);

    @media (max-width: 992px) {
      font-size: 12px;
    }
  }
}

// --- Страница фильма ----------

.film {
}

.trailer {
  @extend %bg;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 20px;
  height: 330px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    @media (max-width: 992px) {
      gap: 5px;
    }
  }

  &__play {
    @extend %btn-reset;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 110px;
    height: 110px;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(4px);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);

    &:hover {
      svg {
        scale: 1.2;
      }
    }

    @media (max-width: 992px) {
      width: 55px;
      height: 55px;
    }
  }

  &__play-svg {
    width: 50px;
    height: 50px;
    fill: #fff;
    will-change: scale;
    transition: scale 0.3s ease-in-out;

    @media (max-width: 992px) {
      width: 25px;
      height: 25px;
    }
  }

  &__text {
    @extend %text-reset;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 25px;
    color: #e8e8e8;
    text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);

    @media (max-width: 992px) {
      font-size: 16px;
    }
  }

  @media (max-width: 992px) {
    background-position: center top;
    margin-bottom: 15px;
    height: 150px;
  }
}

.information {
  position: relative;
  display: flex;
  gap: 20px;

  &__content {
    flex: 1 1 auto;
    overflow: hidden;

    .films {
      padding-block: 16px;

      @media (max-width: 992px) {
        padding-block: 8px;
      }

      &__title {
        font-weight: 400;
        font-size: 20px;

        @media (max-width: 992px) {
          font-size: 17px;
        }
      }
    }
  }

  &__content-main {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 25px;

    @media (max-width: 992px) {
      margin-bottom: 15px;
      gap: 15px;
    }

    @media (max-width: 576px) {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__content-main-item {
    @extend %text-reset;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 23px;
    color: #e8e8e8;
    text-wrap: nowrap;

    &:last-child {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-left: auto;

      @media (max-width: 992px) {
        gap: 5px;
      }

      @media (max-width: 576px) {
        margin-left: initial;
      }
    }

    &--title {
      color: var(--main-color);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      @media (max-width: 576px) {
        white-space: initial;
      }
    }

    @media (max-width: 992px) {
      font-size: 18px;
    }
  }

  &__content-main-item-svg {
    width: 30px;
    height: 30px;
    fill: gold;

    @media (max-width: 992px) {
      width: 15px;
      height: 15px;
    }
  }

  &__content-main-item-rating {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 25px;
    color: #e8e8e8;

    @media (max-width: 992px) {
      font-size: 18px;
    }
  }

  &__content-main-item-total {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: #666;

    @media (max-width: 992px) {
      font-size: 16px;
    }
  }

  &__content-description {
    @extend %text-reset;

    margin-bottom: 15px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #e8e8e8;

    @media (max-width: 992px) {
      font-size: 17px;
    }
  }

  &__content-tags {
    @extend %list-reset;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;

    @media (max-width: 992px) {
      gap: 10px 5px;
    }
  }

  &__content-tag {
  }

  &__content-tag-link {
    border: 1px solid rgba(232, 232, 232, 0.35);
    border-radius: 15px;
    padding: 3px 16px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    color: rgba(232, 232, 232, 0.8);
    text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out;

    // &:hover {
    //   border-color: var(--main-color);
    //   color: var(--main-color);
    // }

    @media (max-width: 992px) {
      padding: 3px 10px;
      font-size: 12px;
    }
  }

  &__content-items {
    @extend %list-reset;

    border-block: 1px solid gray;
    padding-block: 16px;

    & + & {
      margin-top: -1px;
    }

    &:has(.information__content-item-value:empty) {
      display: none;
    }

    @media (max-width: 992px) {
      padding-block: 8px;
    }
  }

  &__content-item-termin {
    display: inline-block;
    margin-right: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #e8e8e8;

    @media (max-width: 992px) {
      font-size: 17px;
    }
  }

  &__content-item-value {
    display: inline-block;
    margin-left: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #fff;
  }

  &__content-item-value-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: var(--main-color);
    transition: color 0.3s ease-in-out;

    &:hover {
      color: #fff;
    }

    @media (max-width: 992px) {
      font-size: 17px;
    }
  }

  &__content-stars {
    margin-top: -1px;
    border-block: 1px solid gray;
    padding-block: 16px;

    @media (max-width: 992px) {
      padding-block: 8px;
    }
  }

  &__content-stars-title {
    @extend %text-reset;

    margin-bottom: 15px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #e8e8e8;

    @media (max-width: 992px) {
      font-size: 17px;
    }
  }

  &__content-stars-items {
    @extend %list-reset;

    display: flex;
    align-items: flex-start;
    gap: 25px;
    // overflow-x: auto;
    // margin: -5px;
    padding: 9px;

    @media (max-width: 992px) {
      gap: 15px;
      padding-bottom: 0;
    }
  }

  &__content-star-item {
    max-width: 140px;
  }

  &__controls {
    position: sticky;
    top: 135px;
    flex: 0 0 360px;
    height: 100%;

    @media (max-width: 1200px) {
      flex: 0 1 auto;
    }

    @media (max-width: 992px) {
      top: 70px;
    }
  }

  &__controls-top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: 25px;

    @media (max-width: 992px) {
      gap: 10px;
      margin-bottom: 15px;
    }
  }

  &__controls-favorite {
    svg {
      fill: #666;
    }

    &:hover {
      svg {
        fill: var(--main-color);
      }
    }

    &--active {
      svg {
        fill: var(--main-color);
      }
    }
  }

  &__controls-share {
    svg {
      stroke: #666;
      fill: transparent;
    }

    &:hover {
      svg {
        stroke: var(--main-color);
      }
    }
  }

  &__controls-bookmark {
    svg {
      fill: #666;
    }

    &:hover {
      svg {
        fill: var(--main-color);
      }
    }

    &--active {
      svg {
        fill: var(--main-color);
      }
    }
  }

  &__controls-favorite,
  &__controls-share,
  &__controls-bookmark {
    @extend %btn-reset;

    svg {
      width: 30px;
      height: 30px;
      transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;

      @media (max-width: 992px) {
        width: 25px;
        height: 25px;
      }
    }
  }

  &__controls-panel {
  }

  &__controls-panel-btn {
    @extend %btn-reset;

    border-radius: 10px;
    padding-block: 12px;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    background: var(--main-color);
    text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease-in-out;

    &:hover {
      background: var(--dark-main-color);
    }

    &--dark {
      background: rgba(18, 18, 18, 0.8);
    }

    & + & {
      margin-top: 15px;
    }

    @media (max-width: 992px) {
      padding-block: 8px;
      font-size: 16px;
    }
  }
}

.star-item {
  text-align: center;

  &__link {
    &:hover {
      .star-item__media {
        box-shadow: 0 0 8px 2px var(--main-color);
      }
    }
  }

  &__media {
    margin: 0 auto 10px;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    background: #d3eef7;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;

    @media (max-width: 992px) {
      width: 70px;
      height: 70px;
    }
  }

  &__img {
    display: block;
    object-position: left 0 bottom 18px;
  }

  &__name {
    display: block;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #e8e8e8;

    @media (max-width: 992px) {
      font-size: 12px;
    }
  }

  &__role {
    display: block;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: rgba(232, 232, 232, 0.5);

    @media (max-width: 992px) {
      font-size: 12px;
    }
  }
}

.page-404 {
  img {
    margin-inline: auto;
  }
}

@import "./blocks/all";

@import "base/plugins"; /* Перенастройка плагинов */
